@layer theme, base, components;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@source "../**/*.{js,ts,jsx,tsx}";
@source "../../**/*.{php,html}";
@source "../../blocks/**/*.{php,js}";

@theme {
  --color-primary: var(--wp--preset--color--primary);
  --color-secondary: var(--wp--preset--color--secondary);
  --color-accent: var(--wp--preset--color--accent);
  --color-base: var(--wp--preset--color--base);
  --color-base-alt: var(--wp--preset--color--base-alt);
  --color-on-gradient: var(--wp--preset--color--on-gradient);
  --color-on-secondary: var(--wp--preset--color--on-secondary);

  --font-sans: var(--wp--preset--font-family--onest);
}

html {
  font-size: 15px;
}

body {
  padding: 0;
}

.has-quote-bg {
  background-image: url("../src/images/Pattern.png");
  background-repeat: no-repeat;
}